<ion-modal-view>
	<ion-header-bar>
		<div class="close" ng-click="closeTuto()">x</div>
	</ion-header-bar>
	<ion-content>
		<ion-slide-box>

			<ion-slide>
				<div class = "box box1">
					<div class="slide">
						<div class="top">
							<i class="icn light size-128 mars"></i>
						</div>
						<div class="content">
							<h2>Welcome to Mars</h2>
							<p>You've been condamned after being catched while licking subway's bar. <br> Judges give you the choice between Russia or Mars and then, you've selected Mars.</p>
						</div>
					</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class = "box box1">
					<div class="slide">
						<div class="top">
							<i class="icn light size-128 coin"></i>
						</div>
						<div class="content">
							<h2>Coins</h2>
							<p>In order to survive, you've been equipped with the SURVIVAL SYSTEM 3000®. It's a software that will allow you to buy buy tools and items to help you in this hostile world.</p>
						</div>
					</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class = "box box3">
					<div class="slide">
						<div class="top">
							<i class="icn light size-128 death"></i>
						</div>
						<div class="content">
							<h2>Stay alive</h2>
							<p>Be carefull with your expenses, you won't have any more coins in the future. <br> You can sell items that you owned for half of it's price.</p>
						</div>
					</div>
				</div>
			</ion-slide>
			
			<ion-slide>
				<div class = "box box3">
					<div class="slide">
						<div class="top">
							<i class="icn light size-128 smile"></i>
						</div>
						<div class="content">
							<h2>Love <3</h2>
							<p>We hope you'll get a lot of fun with your new isolated life! From now on, you won't have any contact with another human physically. <br> But fortunately, you can have Clara ...</p>
						</div>
					</div>
				</div>
			</ion-slide>

		</ion-slide-box>
		<button class="btn" ng-click="closeTuto()">Get started</button>
		<!--<form ng-submit="doTuto()">
		<div class="list">
		<label class="item item-input">
		<span class="input-label">Username</span>
		<input type="text" ng-model="tutoData.username">
		</label>
		<label class="item item-input">
		<span class="input-label">Password</span>
		<input type="password" ng-model="tutoData.password">
		</label>
		<label class="item">
		<button class="button button-block button-positive" type="submit">Log in</button>
		</label>
		</div>
		</form>-->
	</ion-content>
</ion-modal-view>
